/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Estilos para el menú */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
    justify-content: space-around;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

nav li {
    width: 30%; /* Ancho fijo para cada botón */
    text-align: center;
    margin-bottom: 20px; /* Espacio entre filas */
}

nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 24px; /* Tamaño grande de fuente */
    padding: 20px; /* Aumenta el espacio alrededor del texto */
    border: 2px solid #fff; /* Agrega un borde blanco de 2px */
    border-radius: 10px; /* Añade bordes redondeados */
    background-color: #333; /* Color de fondo del botón */
    transition: all 0.3s ease; /* Transición suave para los cambios */
}

nav a:hover {
    background-color: #fff; /* Cambia el color de fondo al pasar el mouse */
    color: #333; /* Cambia el color del texto al pasar el mouse */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilos para los botones sociales */
.social-button {
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    background-color: #333; /* Color de fondo del botón */
    transition: all 0.3s ease; /* Transición suave para los cambios */
}

.social-button:hover {
    background-color: #fff; /* Cambia el color de fondo al pasar el mouse */
    color: #333; /* Cambia el color del texto al pasar el mouse */
}
