/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.capitulo {
    margin-bottom: 40px;
}

.capitulo h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para el carrusel */
.carousel {
    margin: 0 auto; /* Centra el carrusel horizontalmente */
    max-width: 80%; /* Limita el ancho máximo del carrusel */
}

/* Estilos para las imágenes dentro del carrusel */
.carousel-inner img {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen */
    max-height: 100%; /* Ajusta la altura máxima de la imagen */
    display: block; /* Asegura que la imagen sea un elemento de bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    object-fit: contain; /* Escala la imagen para que quepa dentro del contenedor sin distorsión */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilos para los botones sociales */
.social-button {
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    background-color: #333; /* Color de fondo del botón */
    transition: all 0.3s ease; /* Transición suave para los cambios */
}

.social-button:hover {
    background-color: #fff; /* Cambia el color de fondo al pasar el mouse */
    color: #333; /* Cambia el color del texto al pasar el mouse */
}

/* Estilos para el contenedor del carrusel */
.carousel-container {
    display: flex;
    justify-content: center;
}

/* Estilos para el carrusel */
.carousel {
    max-width: 100%; /* Limita el ancho máximo del carrusel */
}

/* Estilos para las imágenes dentro del carrusel */
.carousel-inner img {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen */
    max-height: 100%; /* Ajusta la altura máxima de la imagen */
    display: block; /* Asegura que la imagen sea un elemento de bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    object-fit: contain; /* Escala la imagen para que quepa dentro del contenedor sin distorsión */
}

/* Estilos para las diapositivas del carrusel */
.carousel-inner .carousel-item video {
    width: 100%; /* Ajusta el ancho del video al 100% del contenedor */
    max-height: 100%; /* Ajusta la altura máxima del video */
    display: block; /* Asegura que el video sea un elemento de bloque */
    margin: 0 auto; /* Centra el video horizontalmente */
    object-fit: contain; /* Escala el video para que quepa dentro del contenedor sin distorsión */
}





/* Estilos para los controles del carrusel */
.carousel-control-prev,
.carousel-control-next {
    background-color: transparent; /* Fondo transparente para los controles */
    width: auto; /* Ancho automático para los controles */
}

/* Estilos para los iconos de los controles del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000; /* Color de fondo para los iconos */
    border-radius: 50%; /* Bordes redondeados para los iconos */
    padding: 10px; /* Espaciado interno para los iconos */
}

/* Estilos para el color del icono de los controles del carrusel */
.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
    color: #fff; /* Color del icono */
}

